html {
    color: #bbb;
    font-size: 0.9rem;
    background: #a0d4d5;
}
@media ( min-width: 500px ) {
    html {
        font-size: 1rem;
    }
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    margin: auto;
    line-height: 1.6;
    width: 100%;
}
@media ( min-width: 500px ) {
    body {
        background: #222;
    }
    header,
    section {
        max-width: 540px;
        padding: 48px;
    }
}

header {
    display: flex;
    gap: 20px;
    align-items: start;
    margin: auto;
    background: #222;
}
article {
    background: #a0d4d5;
}

header h1,
header p {
    margin: 0;
}
header img {
    border-radius: 50%;
    width: 92px;
}
section {
}
h1, h2 {
    color: #eee;
    font-size: 1rem;
    font-weight: normal;
}
h1 {
    font-size: 20px;
}
h2 {
    font-weight: 400;
    font-size: 1rem;
}
a {
    color: #eee;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

section .row {
    margin-left: 16px;
}
@media ( min-width: 500px ) {
    section .row {
        margin-left: 0;
        display: flex;
        align-items: start;
        margin-bottom: 36px;
    }
}
section .row > div:first-child {
    margin-right: 36px;
    width: 120px;
}
.row h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
.row p a {
    border-bottom: 1px solid #333;
    color: inherit;
}
.row p a,
.row p a:hover {
    text-decoration: none;
}
.gallery {
    display: flex;
    gap: 8px;
    overflow: scroll;
}
.gallery img {
    width: 120px;
    height: auto;
    max-height: 90px;
    border-radius: 8px;
}
img.hero {
    width: 100%;
    height: auto;
    display: block;
}
@media ( min-width: 500px ) {
    .gallery {
        width: 375px;
    }
}