@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    color: black;
    font-size: 0.9rem;
    background: #a0d4d5;
}
@media ( min-width: 500px ) {
    html {
        font-size: 1rem;
    }
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: auto;
    line-height: 1.6;
    width: 100%;
}

header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    background: white;
    color: #222;
    padding: 20px;
}

@media ( min-width: 500px ) {
    body {
        background: white;
    }
    header,
    section {
        max-width: 540px;
    }
}
article {
    background: white;
    color: #444;
}
summary {
    cursor: pointer;
}
section h4,
section h3,
section h2 {
    display: inline;
}
section {
    padding: 0 20px;
    margin: auto;
}
details summary {
    padding: 0 0 30px;
}
section ~ section {
    padding-top: 30px;
}
section p {
    margin: 0;
}
section > div > div {
    overflow: hidden;
}
header h1,
header p {
    margin: 0;
}
header img {
    border-radius: 50%;
    width: 92px;
}
h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
h2, h3, h4, h5, h6 {
    color: #111;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
h1 {
    font-size: 20px;
}
h2 {
    font-weight: 400;
    font-size: 1rem;
}
a {
    color: #111;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media ( min-width: 500px ) {
    section > div {
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }
}
.gallery {
    display: flex;
    gap: 8px;
    overflow: scroll;
    margin: 20px 0;
}
.gallery img {
    height: auto;
    max-height: 90px;
    border-radius: 8px;
}
img.hero {
    width: 100%;
    height: auto;
    display: block;
    height: 600px;
    object-fit: cover;
}

@media ( min-width: 500px ) {
    .gallery {
        width: 375px;
    }
}
@media ( min-width: 800px ) {
    img.hero {
        height: auto;
    }
}
